<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">

	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out"/>
		<param name="Threshold" value="ERROR"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{dd MMM yyyy HH:mm:ss.SSS} [%-5p] [%t] [%c] - %m%n"/>
		</layout>
	</appender>

	<appender name="CONSOLE-DEBUG" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out"/>
		<param name="Threshold" value="DEBUG"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{dd MMM yyyy HH:mm:ss.SSS} [%-5p] [%t] [%c] - %m%n"/>
		</layout>
	</appender>

	<appender name="INFOGLUE-FILE" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="${catalina.base}/logs/infoglueCalendar.log"/>
		<param name="Append" value="true"/>
 		<param name="MaxFileSize" value="10MB"/>
		<param name="MaxBackupIndex" value="5"/>
		<param name="Threshold" value="WARNING"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{dd MMM yyyy HH:mm:ss.SSS} [%-5p] [%t] [%c] - %m%n"/>
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
      		<param name="LevelMin" value="WARN" />
      		<param name="LevelMax" value="WARN" />
    	</filter>
   	</appender>

	<!-- ==================================	-->
	<!-- Use categories to control logging  -->
	<!-- down to the package or class level	-->
	<!-- ==================================	-->

	<category name="org.infoglue">
		<priority value="WARN"/>
		<appender-ref ref="INFOGLUE-FILE"/>		
	</category>
	
	<category name="net.sf.hibernate">
		<priority value="WARN"/>
	</category>

	<!-- Anyhing not caught by the above categories will be caught here -->
	<root>
		<priority value="ERROR"/>
		<appender-ref ref="CONSOLE"/>
		<!--<appender-ref ref="EMAIL" />-->
	</root>

</log4j:configuration>


