.event				{ font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: black; } 
.normalInput		{ width: 300px; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: black; border: 1px solid gray;} 
.smallInput			{ width: 150px; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: black; border: 1px solid gray;} 
.dateInput			{ width: 80px; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: black; border: 1px solid gray;} 
.hourInput			{ width: 50px; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: black; border: 1px solid gray;} 
.listBox			{ width: 300px; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: black; border: 1px solid gray;} 
textarea			{ width: 300px; height: 100px; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; border: 1px solid gray;}

.calendarButton		{ font-size: 10px; color: #666666; font-weight: bold;}
.calendarLabel 		{ font-size: 10px; color: #666666; font-weight: bold;}
.calendarValue 		{ font-size: 10px; color: #666666; }
.errorMessage 		{ font-size: 10px; color: red; }

.headline			{ font-size: 18px; color: #666666; font-weight: bold; } 
.subheadline		{ font-size: 12px; color: #666666; font-weight: bold; } 

#list				{  margin-left: 200px; border-left: 1px solid gray; afloat: right; background-color: white; font-family: Verdana, Arial, Helvetica, sans-serif; border: 0px solid black; margin: 0px 0px 10px 0px; padding: 2px 2px 2px 2px; } 
#contentListHeader  { background-color: white; color: #666666; font-size: 14px; font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: bold; margin-top: 1em; margin-left: 0.2em }
#contentList	    { background-color: white; color: #666666; font-size: 10px; font-family: Verdana, Arial, Helvetica, sans-serif; margin-top: 1em; margin-left: 0.2em }
#contentListFooter  { background-color: white; color: #666666; font-size: 10px; font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: bold; margin-top: 1em; margin-left: 0.2em }
